<ScrollView orientation="vertical">
    <StackLayout class="page" orientation="vertical">
        <Label class="h2" text="Kirikiriroa Pa"></Label>
        <Label text="Kirikiriroa Pa is the most significant Pa within the Hamilton City area. It was a fully fortified Pa Whakairo (Pa with carved palisades). It was an half oval in shape with the riverbank as the flat side and the curved front stretching from London Street to Claudelands Road. The curved front was fortified by a ditch and mound structure with an elaborate wooden palisade atop the mound."
               class="body" textWrap="true"></Label>

        <Label text="Unfortunately, most of the surface features of the Kirikiriroa Pa site were destroyed during the early development of Hamilton City before they were accurately recorded or mapped."
               class="body" textWrap="true"></Label>

        <Image class="img-featured" src="res://kirikiriroa_pa"></Image>
    </StackLayout>
</ScrollView>
