<ScrollView orientation="vertical">
    <StackLayout class="page" orientation="vertical">
        <DockLayout stretchLast="true">
            <Image dock="right" class="map-icon" src="res://map" [nsRouterLink]="['/map', 0]"></Image>
            <Label dock="left" class="h2" text="Pukete Pa"></Label>
        </DockLayout>

        <Label text="Pukete was a fortified Pa, believed to have been constructed by Nga Iwi. Ngati Koura conquered the Nga Iwi inhabitants and took over the pa and surrounding lands."
               class="body" textWrap="true"></Label>

        <Label text="Pukete Pa was occupied by Ngati Koura under the leadership of Te Roore Tatangi when they abandoned the Pa prior to the land wars of 1863. However, by this time the wooden palisade fortifications of the Pa had disappeared only the ditch remained."
               class="body" textWrap="true"></Label>

        <Image class="img-featured" src="res://te_roore_tatangi"></Image>
    </StackLayout>
</ScrollView>